{% extends 'base.html' %}
{% block title %}Log In{% endblock title %}
{% block no_header %}{% endblock no_header %}
{% block content %}
<form id="login" method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<img src="http://placehold.it/120x120">
{% if form.errors %}
<p>Your username and password didn't match.</p>
{% endif %}
<input id="id_username" placeholder="Username" maxlength="254" name="username" type="text" />
<input id="id_password" placeholder="Password" name="password" type="password" />
<input id="id_submit" type="submit" value="Log In" />
<input type="hidden" name="next" value="{{ next }}" />
<a href="/manifest.webapp">Install to FirefoxOS</a>
</form>
{% endblock content %}
